<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            background-color: tan;
            height: 1300px;
        }

        h1 {
            color:brown;
            text-align: center;
            text-decoration-line: underline;
        }

        h2 {
            color: black;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Lets Try Counseling Because I Do Love You!! </h1>
        <img src="{{ url_for('static', filename='img/therapy.png')}}"width=1100>
        <h2>Her "He doesn't listen to ME at all"... Him "I really love her, why don't she want to marry me??"</h2>
    </div>
</body>

</html>