<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            background-color: rgb(233, 236, 15);
            height: 1300px;
        }

        h1 {
            color: black;
            text-align: center;
            text-decoration-line: underline;
        }

        h2 {
            color: black;
            text-align: center;
        }

        a {
            margin-left: 360px;
        }
        h3{
            text-align: center;
        
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Let The Planning Begin </h1>
        <img src="{{ url_for('static', filename='img/yes_.jpg')}}"width=1100>
        <h3>Hey now we getting married! So much work to be done!! Where to start??</h3>
        <a href="location">Destination Wedding??</a>
        <a href="dress">Let's Find The Dress!!!</a>
    </div>
</body>

</html>